* {
    box-sizing: border-box;
}

html {
    font-family: Arial;
    text-align: center;
}

body {
    font-family: 'Skranji', cursive;
}

/* * * HOMEPAGE * * */

h1 {
    margin-top: 2rem;
}

#cast-btn {
    margin: 2rem 0;
}

hr {
   border: 2px solid black;
   margin: 10px 0;
}

.rune-slot {
    display: inline-block;
    height: 21em;
    /* padding: 1rem; */
}

.rune-name {
    font-size: 25px;
}

.rune-slot img {
    height: 15rem;
}

/* * * RESPONSIVE DESIGN * * */

@media screen and (max-width: 768px) {
    .rune-name {
        font-size: 20px;
    }
    .rune-slot img {
        height: 12rem;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        margin-top: 0.5rem;
    }
    
    #cast-btn {
        margin: 0.5rem 0;
    }
    .rune-name {
        font-size: 16px;
    }
    .rune-slot img {
        height:10rem;
    }
    .rune-description {
        font-size: 10px;
    }
}

@media screen and (max-width: 370px) {
    .rune-slot {
        height: 10rem;
        margin-top: 1.25rem;
    }
    
    .rune-name {
        font-size: 20px;
    }
    .rune-slot img {
        height: 6rem;
        display: inline-block;
    }
}