* {
    box-sizing: border-box;
}

html {
    font-family: Arial;
    text-align: center;
}

body {
    background-image: url('images/decorative/wooden-background.jpg');
    color: white;
    font-family: 'Skranji', cursive;
}

/* * * HOMEPAGE * * */

#banner {
    background-color: #050705;
    padding: 1rem 0;
}

.candle-img {
    max-height: 3rem;
}

h1 {
    color: #FA7D1F;
    display: inline-block;
    /*margin-top: 2rem;*/
}

#banner p {
    color: #F3EABC;
}

#cast-btn {
    margin: 0.5rem 0;
}

hr {
   border: 2px solid black;
   margin: 10px 0;
}

#rune-row {
    padding-top: 1.5rem;
}

.rune-slot {
    display: inline-block;
    height: 21em;
    width: 21em;
}

#rune-name-2 {
    margin-top: 5rem;
}

#rune-name-3 {
    margin-top: 10rem;
}

.rune-name {
    font-size: 25px;
}

.rune-slot img {
    height: 15rem;
}

/* * * RESPONSIVE DESIGN * * */

@media screen and (min-width: 768px) {
    #rune-row {
        background-color: #050705;
        min-height: 25rem;;
    }
    #rune-name-2 {
        margin-top:0rem;
    }
    #rune-name-3 {
        margin-top: 0rem;
    }
    .rune-name {
        font-size: 20px;
    }
    .rune-slot img {
        height: 12rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    h1 {
        margin-top: 0.5rem;
    }
    #cast-btn {
        margin: 0.5rem 0;
    }
    .rune-slot {
        height: 17.5rem;
        width: 100%;
    }
    .rune-name {
        font-size: 20px;
    }
    .rune-slot img {
        height:15rem;
    }
    .rune-description {
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .rune-slot {
        height: 10rem;
        margin-top: 1.25rem;
    } 
    .rune-name {
        font-size: 20px;
    }
    .rune-slot img {
        height: 6rem;
    }
}